<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Books</div>

                    <div class="card-body">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Isbn</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Downloaded image</th>
                                <th scope="col">Cropped image</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="book in books.data" :key="book.id">
                                <td>{{ book.isbn }}</td>
                                <td>{{ book.title }}</td>
                                <td>{{ book.description }}</td>
                                <td><img class="img-fluid"
                                         :src="downloadedImageBasePath + '/' + book.downloaded_image" alt=""></td>
                                <td><img class="img-fluid"
                                         :src="croppedImageBasePath + '/' + book.cropped_image" alt=""></td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination :data="books" @pagination-change-page="getResults"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                books: {},
            }
        },
        props: ['downloadedImageBasePath', 'croppedImageBasePath'],
        created() {
            this.getResults();
        },
        methods: {
            getResults(page = 1) {
                axios.get('books?page=' + page)
                    .then(response => {
                        this.books = response.data;
                    });
            }
        }
    }
</script>
